<form>
  <div class="row">
    <div class="col-md-6">
      <article class="panel panel-primary">
        <h1 class="panel-heading">Customer</h1>
        <div class="row panel-body">
          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="first-name">First Name</label>
              <input type="text" class="form-control" name="first-name" value="Bob">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="last-name">Last Name</label>
              <input type="text" class="form-control" name="last-name" value="Jones">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="text" class="form-control" name="username" value="bobert123">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="email">Email</label>
          <input type="text" class="form-control" name="email" value="bobbyj@somewhere.net">
        </div>
        <label for="joined panel-footer">Joined</label>
        12/13/2014
      </article>
      <h2>Shipping Address</h2>
      <div class="form-group">
        <label for="street-address" class="sr-only">
          Street address
        </label>
        <input type="text" name="street-address" value="123 Any St" class="form-control">
      </div>
      <div class="form-group">
        <label for="street-address-extra" class="sr-only">
          Street Address Extra
        </label>
        <input type="text" name="street-address-extra" value="Unit 101" class="form-control">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="city" class="sr-only">City</label>
            <input type="text" name="city" value="Washington" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="state" class="sr-only">State</label>
            <input type="text" name="state" value="DC" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="zip" class="sr-only">Zip</label>
            <input type="text" name="zip" value="20001" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <article class="panel panel-default">
        <h2 class="panel-heading h4">Billing Info</h2>
        <div class="row panel-body">
          <div class="col-md-7">
            <p class="h4">
              ****-****-****-1234
              <span class="label label-success">VISA</span>
            </p>
            <p>
              <label>Expires:</label>
              04/19
            </p>
          </div>
          <div class="col-md-5 text-right">
            <button class="btn btn-lg btn-default">
              View Details...
            </button>
          </div>
        </div>
      </article>
      <h3>Billing Address
        <input type="checkbox">
        Same as shipping?</h3>
      <div class="form-group">
        <label for="street-address" class="sr-only">
          Street address
        </label>
        <input type="text" name="street-address" value="123 Any St" class="form-control">
      </div>
      <div class="form-group">
        <label for="street-address-extra" class="sr-only">
          Street Address Extra
        </label>
        <input type="text" name="street-address-extra" value="Unit 101" class="form-control">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="city" class="sr-only">City</label>
            <input type="text" name="city" value="Washington" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="state" class="sr-only">State</label>
            <input type="text" name="state" value="DC" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="zip" class="sr-only">Zip</label>
            <input type="text" name="zip" value="20001" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </form>
